* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: grey
}
h1 {
    margin: 10px 0px 0px 0px;
}
main {
    width: 400px;    
    outline: 1px solid black;
    border-radius: 20px;
    background: black;
    margin: auto;
    padding: 20px;
}
table {
    background: black;
}
tr td {
    width: 100px;
    height: 100px;
}
button {
    width: 100%;
    height: 100%;
    font-size: 36px;
    background: rgb(63, 63, 63);
}
button:hover {
    background: rgb(91, 91, 91);
    cursor: pointer;
}
#result {
    background: rgb(13, 93, 232);
}
header {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    font-size: 3em;
    text-align: right;
    outline: 1px solid black;
    background: white;
}