* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 30px;
}

#res {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: white;
    outline: black;
    font-weight: bold;
    font-size: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

#a {
    width: 250px;
    height: 250px;
    background-color: orange;
}

#b {
    width: 250px;
    height: 250px;
    background-color: blue;
}
#j {
    width: 250px;
    height: 250px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 100px;
    padding: 15px;
    border: none;
    outline: none;
    color: white;
    background: #333;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#container-append {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container-btn4 {
    display: flex;
    align-items: center;
    flex-direction: column;
}